.fastcard-deck {
    height:375px;
    width:275px;
}

a:hover .clickable-deck {
    background: rgba(138, 191, 255, 0.457);
    border-radius: 30px;
}

.clickable-deck {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.fastcard-card {
    height:290px;
    width:220px;
}

a:hover .clickable-card {
    background: rgba(138, 191, 255, 0.357);
    border-radius: 20px;
}

.clickable-card {
    -moz-transition: all .2s ease-in;
    -o-transition: all .2s ease-in;
    -webkit-transition: all .2s ease-in;
    transition: all .2s ease-in;
}

.fastcard-gamecard {
    height:285px;
    width:200px;
}

.header-padding {
    padding-top: 10px;
    padding-bottom: 20px;
}

.header-padding-top {
    padding-top: 15px;
}

.header-text {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-style: italic;
    font-size: large;
}

.bar-shadow {
    box-shadow: 0 4px 4px -2px rgba(0,0,0,.3);
}

.account-dropdown {
    width: 150px;
    height: auto;
}

.padding-top-90 {
    padding-top: 90px;
}

.padding-top-65 {
    padding-top: 65px;
}

.flipped {
    .front {
        transform: rotateY(180deg);
    }
    .back {
        transform: rotateY(0deg);
    }
}
.front, .back {
    backface-visibility: hidden;
    transform-style: preserve-3d;
    transition: -webkit-transform ease 500ms;
    transition: transform ease 500ms;
}
.front {
    z-index: 2;
    transform: rotateY(0deg);
}
.back {
    transform: rotateY(-180deg);
}

.green-bg {
    background: rgba(35, 214, 104, 0.457);
}

.red-bg {
    background: rgba(222, 99, 51, 0.457);
}

.pulse {
    animation: pulse-animation 2s infinite;
  }
  
  @keyframes pulse-animation {
    0% {
      box-shadow: 0 0 0 0px rgba(0, 0, 0, 0.2);
    }
    100% {
      box-shadow: 0 0 0 20px rgba(0, 0, 0, 0);
    }
  }